.navtab {
    min-height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration-line: underline;
    color: #000000;
    background: #F5F5F5;
}

.navtab__progect{
    max-width: 67px;
    min-height: 18px;
    padding: 0;
    margin: 0 0 0 auto;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    color: #000000;
}

.navtab__progect:hover {
    opacity: 50%;
  }

.navtab__technology{
    max-width: 75px;
    min-height: 18px;
    padding: 0;
    margin: 0 181px 0 164px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    color: #000000;
}

.navtab__technology:hover {
    opacity: 50%;
  }

.navtab__student{
    max-width: 54px;
    min-height: 16px;
    padding: 0;
    margin: 0 auto 0 0;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    color: #000000;
}
.navtab__student:hover {
    opacity: 50%;
  }

@media screen and (max-width: 768px) {
    .navtab {
        min-height: 66px;
    }
  }

@media screen and (max-width: 555px) {
    .navtab__technology{
        margin: 0 81px 0 64px;
    }
  }

  @media screen and (max-width: 320px) {
    .navtab {
        min-height: 71px;
    }

    .navtab__progect{
        line-height: 11px;
        margin-top: 6px;
    }
    
    .navtab__technology{
        margin: 2px 24px 0 24px;
        font-size: 11px;
    }

    .navtab__student{
        font-size: 11px;
    }
  }