.element__removal {
  padding: 0;
  margin: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 170px;
  right: 14.34px;
  max-width: 8px;
  min-height: 8px;
  visibility: visible;
}

.element__removal:hover {
  opacity: 50%;
}
