.profileForm {
  min-height: 626px;
  background: #ffffff;
}

.profileForm__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0 auto 123px auto;
  padding-top: 74px;
  max-width: 204px;
  min-height: 29px;
  text-align: center;
}

.profileForm__form {
  margin-left: auto;
  margin-right: auto;
}
.profileForm__form-bloks {
  max-width: 410px;
  min-height: 14px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.profileForm__form_text {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}
.profileForm__form-title {
  min-height: 14px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  border: none;
  text-align: end;
}

.profileForm__line {
  width: 410px;
}

.profileForm__form-email {
  min-height: 14px;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  border: none;
  text-align: end;
}

.profileForm__edit {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  max-width: 410px;
  min-height: 16px;
  margin: 210px auto 16px auto;
  text-align: center;
  outline: none;
  cursor: pointer;

}

.profileForm__exit {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ee3465;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 70px;
}
.profileForm__link {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .profileForm {
    min-height: 950px;
  }
  .profileForm__title {
    margin: 0 auto 96px auto;
    padding-top: 236px;
  }
  .profileForm__exit {
    padding-bottom: 269px;
  }
}

@media screen and (max-width: 440px) {
  .profileForm__form {
    max-width: 300px;
  }
  .profileForm__line {
    width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .profileForm {
    min-height: 706px;
  }
  .profileForm__title {
    margin: 0 auto 80px auto;
    padding-top: 70px;
  }
  .profileForm__form {
    max-width: 260px;
  }
  .profileForm__line {
    width: 260px;
  }

  .profileForm__form-title {
    max-width: 260px;
  }
  .profileForm__form-email {
    max-width: 260px;
  }

  .profileForm__edit {
    margin: 377px auto 16px auto;
  }
  .profileForm__exit {
    padding-bottom: 40px;
  }
}
